<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" id="home-link">
            <img id="header-logo" src="" alt="Logo" class="img-fluid me-2 d-inline-block align-text-top">
            My Portfolio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a id="home-nav-link" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a id="about-nav-link" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a id="projects-nav-link" class="nav-link">Projects</a>
                </li>
                <li class="nav-item" hidden>
                    <a id="contact-nav-link" class="nav-link">Contact</a>
                </li>
            </ul>
            <div class="dark-mode-toggle" hidden>
                <input type="checkbox" id="dark-mode-checkbox">
                <label for="dark-mode-checkbox" class="toggle-label">🌙</label>
            </div>

        </div>
    </div>
</nav>